<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Get in touch</h2>
        <p class="text-muted sub-text">Below are a few ways to get a hold of me.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <i class="fa fa-envelope text-secondary fa-5x"></i>
        <p class="text-muted sub-text">Let's talk on <span class="text-primary"><a href="mailto:petele96@gmail.com?subject=Let's talk!" target="_blank">petele96@gmail.com</a></span></p>
      </div>
      <!-- <div class="col-md-4 text-center">
        <i class="fa fa-github-square text-secondary fa-5x"></i>
        <p class="text-muted sub-text">Follow me on Github at <span class="text-primary">lep828</span></p>
      </div> -->
      <div class="col-md-6 text-center">
        <i class="fa fa-linkedin-square text-secondary fa-5x"></i>
        <p class="text-muted sub-text">Connect with me at <a id="linkedin" class="text-primary" href="https://www.linkedin.com/in/peter-le" target="_blank">linkedin.com/in/peter-le</a></p>
      </div>
    </div>
  </div>
</section>
